
.*

config.h

config.log

config.status

src/pdftools

*.Po

*.o

*.a

autom4te.cache

Makefile

stamp-h1

.deps

/nbproject

/src/pdftools.xcodeproj/project.xcworkspace/xcuserdata

/src/pdftools.xcodeproj/xcuserdata

src/pdftools.pro.user
/*~
